{% extends "Server/index.html" %}



{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Client</title>
  </head>
    <h1 style="color: aliceblue">Your message: {{ DATA }}</h1>

    <div class="BuyRec">
        <p style = "color: #043c29;font-size: 24px;", class="buy"></p>
        <a style = "color: #a5adaa;font-size: 24px;", class="coin"> </a>
        <p style = "color: #043c29;font-size: 24px;", class="buy"></p>
        <p style = "color: #a90000;font-size: 24px;", class="sell"></p>
    </div>



{%endblock %}

